<!-- Copy Starter Template
https://getbootstrap.com/docs/4.5/getting-started/introduction/
-->


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Class Search</title>
  </head>

  <!-- create a stub class just to see how things look -->
<style>
    .div_stub {
      background-color: lightgrey;
      height: 80px;
      min-width: 80px;
    }
  </style>
  <body>
    <div class="div_stub">
      <div id="title">
         {{ title }}
      </div>
    </div>
    <div comment="space" class="mb-2 invisible">
      comment:  Just some spacing for now"
    </div>

    <div class="container">
      <div class="row" >
        <div class="col-3" comment="Filters">
          <!-- In a small media format, I'd like to transform this into a tab structure, similiar to a nav structure. -->
          
          <div id="filters" comment="Filters">
            <div class="card mb-2" comment="Subject Card">
              <div class="card-header" id="subjectBox">
                <div class="mb-0">
                  <button class="btn btn-block pl-0" data-toggle="collapse" data-target="#subjectContents" aria-expanded="true" aria-controls="subjectContents">
                    Subject
                  </button>
                </div>
              </div>
              <div id="subjectContents" class="collapse show" aria-labelledby="subjectBox" >
                <div class="card-body">
                  Subject Box
                </div>
              </div>
            </div>

            <div class="card mb-2" comment="Level Card">
              <div class="card-header" id="levelBox">
                Academic Level
                <div class="mb-0">
                  <button class="btn btn-block pl-0 collapsed" data-toggle="collapse" data-target="#levelContents" aria-expanded="false" aria-controls="levelContents">
                  </button>
                </div>
              </div>
              <div id="levelContents" class="collapse" aria-labelledby="levelBox">
                <div class="card-body">
                    <div class="row text-center text-small">
                      <div class="col pl-0 pr-0">
                        <div><label for="l_100">100</label></div>
                        <div><input type="checkbox" id="l_100" value="100" v-model="includedLevels"></div>
                      </div>
                      <div class="col pl-0 pr-0">
                        <div> <label for="l_200">200</label></div>
                        <div> <input type="checkbox" id="l_200" value="200" v-model="includedLevels"></div>
                      </div>
                      <div class="col pl-0 pr-0">
                        <div><label for="l_300">300</label></div>
                        <div><input type="checkbox" id="l_300" value="300" v-model="includedLevels"></div>
                      </div>
                       <div class="col pl-0 pr-0">
                        <div><label for="l_400">400</label></div>
                        <div><input type="checkbox" id="l_400" value="400" v-model="includedLevels"></div>
                      </div>
                       <div class="invisible">
                        x
                      </div>
                       <div class="col pl-0 pr-0">
                        <div><label for="l_500">500</label></div>
                        <div><input type="checkbox" id="l_500" value="500" v-model="includedLevels"></div>
                      </div>
                       <div class="col pl-0 pr-0">
                        <div><label for="l_600">600</label></div>
                        <div><input type="checkbox" id="l_600" value="600" v-model="includedLevels"></div>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="card mb-2" comment="Location Card">
              <div class="card-header" id="locationBox">
                <div class="mb-0">
                  <button class="btn btn-block pl-0 collapsed" data-toggle="collapse" data-target="#locationContents" aria-expanded="false" aria-controls="locationContents">
                    Location
                  </button>
                </div>
              </div>
              <div id="locationContents" class="collapse" aria-labelledby="locationBox">
                <div class="card-body">
                    <div class="row text-center text-small">
                      <div class="col pl-0 pr-0">
                        <div><label for="l_onprem">OnCampus</label></div>
                        <div><input type="checkbox" id="l_onprem" value="ONCAMPUS" v-model="includedLocations"></div>
                      </div>
                      <div class="col pl-0 pr-0">
                        <div> <label for="l_hybrid">Hybrid</label></div>
                        <div> <input type="checkbox" id="l_hbrid" value="Hybrid" v-model="includedLocations"></div>
                      </div>
                      <div class="col pl-0 pr-0">
                        <div><label for="l_online">Online</label></div>
                        <div><input type="checkbox" id="l_online" value="Onine" v-model="includedLocations"></div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="card mb-2" comment="Day/Time Card">
              <div class="card-header" id="dayTimeBox">
                <div class="mb-0">
                  <button class="btn btn-block pl-0 collapsed" data-toggle="collapse" data-target="#dayTimeContents" aria-expanded="false" aria-controls="dayTimeContents">
                     Days/Time
                  </button>
                </div>
              </div>
              <div id="dayTimeContents" class="collapse" aria-labelledby="dayTimeBox">
                <div class="card-body">
                    <div class="row text-center text-small">
                      <div class="col pl-0 pr-0">
                        <div><label for="d_mon">M</label></div>
                        <div><input type="checkbox" id="d_mon" value="M" v-model="includedDaysTimes"></div>
                      </div>
                      <div class="col pl-0 pr-0">
                        <div> <label for="d_tues">T</label></div>
                        <div> <input type="checkbox" id="d_tues" value="T" v-model="includedDaysTimes"></div>
                      </div>
                      <div class="col pl-0 pr-0">
                        <div><label for="d_weds">W</label></div>
                        <div><input type="checkbox" id="d_weds" value="W" v-model="includedDaysTimes"></div>
                      </div>
                      <div class="col pl-0 pr-0">
                        <div><label for="l_thurs">R</label></div>
                        <div><input type="checkbox" id="d_thurs" value="R" v-model="includedDaysTimes"></div>
                      </div>         
                      <div class="col pl-0 pr-0">
                        <div><label for="d_fri">F</label></div>
                        <div><input type="checkbox" id="d_fri" value="F" v-model="includedDaysTimes"></div>
                      </div>
                      <div class="invisible">
                        x
                      </div>
                      <div class="col pl-0 pr-0">
                        <div><label for="d_sat">Sa</label></div>
                        <div><input type="checkbox" id="d_sat" value="S" v-model="includedDaysTimes"></div>
                      </div>
                      <div class="col pl-0 pr-0">
                        <div><label for="d_sun">Su</label></div>
                        <div><input type="checkbox" id="d_sun" value="X" v-model="includedDaysTimes"></div>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="card mb-2" comment="Instructor Card">
              <div class="card-header" id="instructorBox">
                <div class="mb-0">
                  <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#instructorContents" aria-expanded="false" aria-controls="instructorContents">
                    Instructor
                  </button>
                </div>
              </div>
              <div id="instructorContents" class="collapse" aria-labelledby="instructorBox">
                <div class="card-body">
                  Instructor Box
                </div>
              </div>
            </div>

            <!-- in the future, with appropriate data
            <div id="additional-catagories-filter">
            -->
          </div>  
        </div>

        <div class="col-9" comment="Terms and Class Table">
          <div class="mb-2 div_stub" comment="Term Selection">
            <div id="terms" class="container mb-2">
              <div class="row"> 
                <div class="col"></div>
                <div class="col-3"><button type="button" class="btn btn-primary btn-block">{{ last_term }}</button></div>
                <div class="col-3"><button type="button" class="btn btn-primary btn-block active" aria-pressed="true" >{{ current_term }}</button></div>
                <div class="col-3"><button type="button" class="btn btn-primary btn-block">{{ next_term }}</button> </div>
                <div class="col">{{this_term}}</div>
              </div>
            </div>
          </div>
          <div id="sections_available" class="mb-2" style="font-size=0.8rm!important" comment="Classes Table">   <!-- ToAddress: font-size -->
            <table class="table table-sm table-hover" comment="table-responsive">
              <thead class="thead-dark">
                <tr> <th>Class#</th>        <th>Class</th>
                     <th>Title</th>
                     <th>Location</th>      <th>Days</th>   <th>Times</th>  
                     <th>Instructor</th>    <th>Seats</th>   <th>Save</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="section in sections">
                    <td> {{ section.class_number}} </td>
                    <td> {{ section.subject }}{{ section.catalog_number }}-{{ section.section_number }} </td>
                    <td> {{ section.title }} </td>
                    <td> {{ section.meetings[0].location }} </td>
                    <td> {{ section.meetings[0].days }} </td>
                    <td> {{ section.meetings[0].start_time }} - {{ section.meetings[0].end_time }}</td> <!-- need to do range here -->
                    <td> {{ section.instructors[0].instructor }} </td>
                    <td> {{ section.enrollment_cap }} - {{ section.enrollment_count }}</td>  <!-- need to do math here -->
                    <td> <input type="checkbox"></td>  <!-- make this tide to this row -->
                  </tr>
              </tbody>
            </table>
          
        </div>

      </div>
    </div>
    <!-- Footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Now add the development version of Vue -->
    <script src="js/vue.js"></script></script>

    <!-- Now add the Vue scripts for this project -->
    <script src="js/class-search.js"></script>

    <!-- Now add the styles for this project -->  <!-- ToAddress: integrate with better knowledge of bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/class-search.css">

  </body>
</html>
